*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    color: #4d524a;
    text-decoration: none;

}

header{

    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;

}

body{

    align-items: center;
    align-content: center;

}

.opcoes{

    margin-top: 35px;
    align-self: center;
    align-content: center;
    display: flex;
    justify-content: space-around;

}

button{

    color: #4d524a;
    background-color: #fcb900;
    align-self: center;
    padding: 13px;
    border-radius: 5px;
    margin-left: 25px;
    margin-top: 15px;
    font-weight: bold;
    transition: box-shadow 0.3s ease, transform 0.3s ease;


}

button:hover{

    cursor: pointer;
    box-shadow: 5px 5px 15px 5px #FCB900;
    transform: translateY(-2px);

}