body { 
    font-family: Arial, sans-serif; margin: 20px; 
    align-items: center;
    align-content: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0px 30px 0px 30px;

}
  

h2 {
    color: #3A4839;
    text-align: center;
    align-self: center; 
}

button{

    color: #4d524a;
    background-color: #fcb900;
    align-self: center;
    padding: 13px;
    border-radius: 5px;
    margin-left: 25px;
    margin-top: 15px;
    font-weight: bold;
    transition: box-shadow 0.3s ease, transform 0.3s ease;


}

button:hover{

    cursor: pointer;

}

.tableMobile{
    display: none;
}

table { 

    width: 100%; border-collapse: collapse; margin-top: 20px; 
}

th, td { 

    border: 1px solid #ddd; padding: 10px; text-align: center; 

}

.opcoesbtns{

    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 3px;

    button{

        width:90px;
        height:35px;
        text-align: center;
        padding: 3px;

    }

}

th { 
    background-color: #f2f2f2; 
}

@media screen and (max-width: 600px){

    .tableMobile{
        display: block;

    }

    th, td{
        padding: 3px;
    }

    .opcoesbtns{

        align-items: center;
        display: flex;
        align-content: center;
        justify-content: center;
        flex-direction: column;

        a{
            align-content: center;
            align-self: center;
            align-items: center;
            justify-content: center;

        }

        form{
        
            align-content: center;
            text-align: center;
            align-self: center;
            align-items: center;
            justify-content: center;

        }

        button{

            width:70px;
            height:30px;
            text-align: center;
            padding: 3px;
            align-self: center;

        }

    }


    .tableDesktop{
        display: none;
    }

}

.ativo { 
    color: green; font-weight: bold; 
}

.inativo {
     color: red; 
}