body { 
    font-family: Arial, sans-serif; margin: 20px; 
}
  

h2 {
     color: #333; 
}

table { 
    width: 100%; border-collapse: collapse; margin-top: 20px; 
}

th, td { 
    border: 1px solid #ddd; padding: 10px; text-align: left; 
}

.opcoesbtns{

    display: flex;
    flex-direction: column;
    gap: 3px;

}

th { 
    background-color: #f2f2f2; 
}

.ativo { 
    color: green; font-weight: bold; 
}

.inativo {
     color: red; 
}